@using Microsoft.AspNet.Identity.EntityFramework;
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUserRole>

@{
    ViewBag.Title = "Users In Roles";
}

<h2>Users In Roles</h2>

<p>
    @Html.ActionLink("Assign User to Role", "AddUsertoRole", null, new { @class="btn btn-primary"})
</p>
<table class="table-bordered table-hover table-striped" >
    <tr>
        <th>
            Roles
        </th>
        <th>
            Users
        </th>
        <th></th>
    </tr>

    @foreach (IdentityUserRole IdentityUserRole1 in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => IdentityUserRole1.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => IdentityUserRole1.User.UserName)
            </td>
            <td >
                @Html.ActionLink("Delete", "DeleteUserInRole", new { UserName1 = IdentityUserRole1.User.UserName, RoleName1 = IdentityUserRole1.Role.Name }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
