@{
    ViewBag.Title = "GooglePlus";
}

<h2>Google Plus</h2>

<!-- size="small" or "medium" or "tall" -->
<g:plusone href=".." size="small"></g:plusone>

@section scripts{
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
}