@{
    ViewBag.Title = "Video";
}

<h2>Video HTML5</h2>
<br/>
<video controls="controls" src="http://94.182.142.2/DigikalaTV/Movie/NewTechnology/Samsung-Galaxy-Note-3-Drop-Test/2A309E6B/240p/Samsung-Galaxy-Note-3-Drop-Test.mp4" width="526" height="340">
</video>


@*<video controls="controls" src="~/Files/Video/CipFun.mp4" width="276" height="244">
    <source src="~/Files/Video/CipFun.mp4" />
</video>*@

@*<video src="~/Files/Video/Selena%20Gomez.mp4" controls="controls" >
</video>*@
