@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<hr />
<section>
    <header>
        <h3>Address:</h3>
    </header>
    <address>
        <p>
            Shiraz,<br />
            Iran, <br />
            Planet Earth,<br />
            Sun Solar System,<br>
            Milkyway Galexy
        </p>
        <abbr title="Phone">P: 09177393373</abbr>
    </address>
</section>
<hr/>
<section>
    <header>
        <h3>Email:</h3>
    </header>
    <address>
        <strong>Mehdi Naseri:</strong>  
        <a href="mailto:Mehdi@Naseri.net">Mehdi@Naseri.net</a><br />
    </address>
</section>